[2017-02-17 12:33] Prakharsvnit opened #1137 "link pointing to the wrong location"
On clicking at OwnClouder link in a comment section @  https://owncloud.org/blog/owncloud-and-google-summer-of-code/#comment-77440 points  to https://www.na.com.It needs to be changed.

[2017-02-17 13:00] PVince81 commented on #1137
@agssl

[2017-02-17 15:25] stkjj commented on #1060
it's already work in progress. We'll have a complete new planet owncloud

[2017-02-17 15:37] Prakharsvnit commented on #1060
@stkjj That's great.Is there any way i can contribute,i would love to do that.I have good front-end knowledge of html,css,javascipt and its frameworks.

[2017-02-19 18:54] Prakharsvnit commented on #1137
@PVince81 I'm currently working on this issue,it's taking time due to development environment setup, will get back to you asap.

[2017-02-20 21:14] Prakharsvnit commented on #1137
I successfully setup development environment for owncloud.org website and tried to check the url above.
![screenshot from 2017-02-21 02-25-41](https://cloud.githubusercontent.com/assets/19989448/23141510/2653a12c-f7dd-11e6-941b-ae1cb359ddc6.png).i couldn't load the comment.Is there a way to correct it.

[2017-02-21 23:31] Prakharsvnit commented on #1062
PR here [#2887](https://github.com/owncloud/documentation/pull/2887)

[2017-02-22 13:10] Prakharsvnit commented on #118
@jospoortvliet for redirecting to apps.owncloud.com,you need to add
`Redirect 301 /features/apps/ https://app.owncloud.com/`
under `RewriteEngine On`  in .htaccess file.

Alternatively, you can install Redirection plugin activate it,and change the source url of page [http://owncloud.org/features/apps/](url) to [https://apps.owncloud.com](url)

[2017-02-22 17:01] Prakharsvnit commented on #863
@jancborchardt @jospoortvliet I think it is due to fact that `<div>` of modal contains the part above it with class "PopupGetStarted" but this isn't same for sides and bottom of modal because it has class "mask" that's why modal doesn't closes when it is clicked on top but it closes when clicked on sides or below.
![screenshot from 2017-02-22 22-22-02](https://cloud.githubusercontent.com/assets/19

[2017-02-23 15:21] tboerger commented on #1137
@stkjj is responsible for the owncloud.org website, so I'm pretty sure he can give some hints.

[2017-02-23 18:27] tomneedham commented on #863
hey @Prakharsvnit do you think you can make a pull request that fixes this?

[2017-02-23 23:01] Prakharsvnit commented on #863
@tomneedham I'm currently working on this issue,will get back to you asap.

[2017-03-07 10:20] Prakharsvnit commented on #1137
@stkjj am I missing something here how to load comments.
Or this webpage is old and will be removed .

[2017-03-07 17:02] stkjj commented on #1137
@Prakharsvnit indeed this repo is only as long alive til the new owncloud.org page is released. If you want to contribute I suggest to head over to https://github.com/owncloud/2017owncloud.org. Intention is to split up content and theming - just as WordPress is thought. Presently a.m. theme is just the beginning of this separation process and reflects actual design. Additional templates still have

[2017-03-08 08:42] Prakharsvnit commented on #1137
@stkjj I cloned the repo directly in /var/www/html/wp-content/themes but there was no content.xml file to import according to instructions [here](https://github.com/owncloud/owncloud.org#setup-of-a-local-development-environment). I pointed my browser address to localhost it showed me this:
![screenshot from 2017-03-08 14-04-06](https://cloud.githubusercontent.com/assets/19989448/23696260/f49de2c2-

[2017-03-08 20:08] kdslkdsaldsal commented on #1117
@teadur At least now (not sure about the beginning of the year) there are all available packages for Debian 7 provided at the linked repository (only owncloud-files is available for debian oldstable / 7.0).

You can also close this issue as such reports about packages belongs to https://github.com/owncloud/core/issues (the repository here is only for the owncloud.org homepage).

[2017-03-09 02:14] NothingCtrl opened #1150 "Cannot login local user when LDAP server not accessible"
When LDAP server not accessible, local user cannot login (example: Admin), I think it should be affect ldap user only.
Owncloud version: 9.1.4

[2017-03-09 02:31] phil-davis commented on #1150
This is the repository for the web site code. You should log issues with the ownCloud server (and its webGUI) in the repo https://github.com/owncloud/core
Search there to see if the issue is reported, otherwise add the issue using the issue template provided there.

[2017-03-12 15:05] jancborchardt commented on #863
@Prakharsvnit just as info because I’ll unsubscribe from this issue – both @jospoortvliet and me moved on to [Nextcloud](https://nextcloud.com). You are very welcome to contribute to our website too at https://github.com/nextcloud/nextcloud.com

[2017-03-12 19:10] tomneedham commented on #863
@Prakharsvnit Did you make any progress with a PR for this?

[2017-03-12 19:51] tomneedham opened #1153 "8.0.0 download links broken in changelog"
https://github.com/owncloud/core/issues/27366

[2017-03-13 09:12] KevinVahnGill opened #1154 "9.1.4 Appliance VHDX"
Download for the 9.1.4 Appliance VHDX is not working.

[2017-03-13 17:48] #1150 closed

[2017-03-14 21:05] crrodriguez commented on #1154
fixed

[2017-03-14 21:05] #1154 closed

[2017-03-15 11:33] jnweiger opened #1155 "download size of zip and tar files is hardcoded"
strings.php has the exact names of tar and zip archives. But the sizes of these files are hardcoded as
<pre>
... .zip (38,8 MB) |  ... tar.bz2 (27,7 MB)
</pre>
https://github.com/owncloud/owncloud.org/blob/master/install-instructions.php#L73

This should go into strings.php or be removed.

[2017-03-15 12:17] jnweiger commented on #1155
https://github.com/owncloud/owncloud.org/pull/1156

[2017-03-15 12:17] #1155 closed

[2017-03-27 10:59] #1118 closed

[2017-03-27 19:00] tlhonmey opened #1167 "https://owncloud.org/install/#edition missing hash and signature download links."
https://owncloud.org/install/#edition

This page has "(.tar.bz2 / .zip) " structures which imply that there should be downloads available for hashes and signatures of the archive files.

These structures do not actually contain any links.

Either links to current hashes/signatures should be added back to the page, or the "(.tar.bz2 / .zip)" sections should be replaced with links to the archive pag

[2017-03-27 19:11] tony5 commented on #1167
I agree with @tlhonmey
I think step #2 of the installation instruction should be a link pointing to https://owncloud.org/changelog/
to make locating the sums easier.

[2017-03-31 06:01] kdslkdsaldsal commented on #1167
This is a duplicate of https://github.com/owncloud/owncloud.org/issues/1074

[2017-04-12 13:21] lefherz opened #1179 "How are links generated out of php files?"
Hi all,

I am reworking https://staging.owncloud.org/events/ atm, and want to introduce a new event archive, as asked for by @stkjj. I created a new page for this, page-events-archive.php.
Unfortunately I can't figure out how its URL is generated. I want to link to it from page-events.php, how do I do it? href="page-events-archive.php doesn't work, neither does href="/events-archive/" or href="/ev

[2017-04-12 23:55] lefherz commented on #1179
I heard that you have to create an empty file which is then filled by the theme. I still don't understand how this works exactly, but as someone else took care of the problem, i don't need to know either. Therefore I now close this issue :))

[2017-04-12 23:55] #1179 closed

[2017-04-13 00:17] jnweiger commented on #1179
Did you find a solution?

[2017-04-13 00:18] jnweiger commented on #1179
In case you find the solution, please document it here for future reference.

[2017-04-13 09:25] lefherz commented on #1179
@stkjj found it :) maybe he wants to share his path? https://xkcd.com/979/

On 13.04.2017 02:18, Jürgen Weigert wrote:

[2017-04-16 08:36] tflidd commented on #1116
Update was in https://github.com/owncloud/owncloud.org/pull/1170
Thanks...

[2017-04-16 08:36] #1116 closed

[2017-04-16 10:59] jiyyt opened #1183 "Broken source download link"
The release 2.3.1 download link from the [desktop client page](https://owncloud.org/changelog/desktop/) goes to https://download.owncloud.com/desktop/testing/owncloudclient-2.3.1.tar.xz1, which doesn't exist. All I see there are release candidates.

[2017-04-19 07:48] davitol opened #1185 "Packages links for ownCloud X are 'tagged' as 9.2.0 for all OS"
![screen shot 2017-04-19 at 09 28 21](https://cloud.githubusercontent.com/assets/10596560/25168846/551d5bee-24e5-11e7-9f1d-8e5dbf73c00d.png)
![screen shot 2017-04-19 at 09 28 33](https://cloud.githubusercontent.com/assets/10596560/25168857/5b149030-24e5-11e7-986e-2cabfc7afc5c.png)

@jw @crrodriguez

[2017-04-21 11:41] jnweiger commented on #1183
This should end in tar.xz, not tar.xz1 -- But I cannot find the position of that link.
@lefherz  is it already fixed?

[2017-04-21 12:34] lefherz commented on #1183
there are no testing DL links on the website, only stable. at least on the desktop client page you linked. also the malicious URL you mentioned is not in the source code of the page. I really cant see where you found that broken link...

[2017-04-24 12:14] jnweiger commented on #1183
These links come from strings.php -- this is a fast changing config file. If you can no longer find it, it is probably already fixed.

[2017-04-24 13:44] jnweiger opened #1192 "testpilot client visibility"
We have a shiny new testpilotcloud-client-2.3.2~RC1 release today.
This is the prefered way to try out the new client without interfering with a running owncloud-client.

https://owncloud.org/ -> 'Download' leads to https://owncloud.org/install/
There I'd look into either 'Desktop Clients' or 'Testing Packages' but neither one links to the Testpilot client.

The only way to see instructions and li

[2017-04-29 13:25] #1183 closed

[2017-05-08 11:19] Kawohl opened #1211 "documentation on setting up and developing is missleading"
After two days trying to rebuild the site and, to be possible to do anything i just gave up.

The README.md is missleading and must be updated by someone who actually understands the setup.

I also propose to move to a simpler cms, contributors should be able to contribute easily.

[2017-05-08 11:21] Kawohl commented on #1060
@stkjj any news? Where is this developed?

[2017-05-08 11:24] Kawohl commented on #1153
closing since resolved

[2017-05-08 11:24] #1153 closed

[2017-05-08 11:27] Kawohl commented on #1072
@stkjj FYI

[2017-05-08 11:27] #1117 closed

[2017-05-08 11:44] Kawohl commented on #1185
@jw @crrodriguez if you try to install from owncloud.org the pointer is still to 9.1.5

[2017-05-11 14:09] dschmidt opened #1215 "Tabs broken in "Mobile clients" modal dialog on download page"
When you click on the "Mobile clients" button here https://owncloud.org/install/#, the desktop client tab in the modal dialog is non functional.
when you click on desktop clients straight away, both tabs work as expected.

I see this in Chromium 57 fwiw.

[2017-05-11 14:18] Kawohl commented on #1215
@dschmidt nice find!
@agssl could you please take a look?

[2017-05-22 15:41] guruz commented on #1192
FYI I won't be able to do this.. but I agree, we should always have both ownCloud and testpilot be downloadable..

[2017-05-29 13:51] jnweiger commented on #1192
@michaelstingl @lefherz this is what we discussed this morning.

[2017-06-19 07:50] RayWoodson opened #1234 "I lost a lot files today!!!WHY???How cloud I found them back???Pls help me"
owncloud 9.2.14
there is some error when I sync files serval days ago.
I restart httpd this noon.
It was seems everthing is fine . fine to sync
but hours later I found many files are disapeared
I cannot find them.
why it happened?how can I get them back.
Please help me if you know how
with log file

[2017-06-19 07:50] RayWoodson commented on #1234
{"reqId":"WH8KoL-Ng9@QynXoSjrYqwAAAAs","remoteAddr":"10.224.194.144","app":"index","message":"Exception: {\"Exception\":\"GuzzleHttp\\\\Exception\\\\ConnectException\",\"Message\":\"cURL error 6: See http:\\\/\\\/curl.haxx.se\\\/libcurl\\\/c\\\/libcurl-errors.html\",\"Code\":0,\"Trace\":\"#0 \\\/var\\\/www\\\/htm\\\/owncloud\\\/3rdparty\\\/guzzlehttp\\\/guzzle\\\/src\\\/RequestFsm.php(104): Guzzle

[2017-06-19 08:31] Kawohl commented on #1234
Hi @RayWoodson

please reopen your issue in the core repo using the issue template carefully.
https://github.com/owncloud/core/issues/new

This is the repo for the ownCloud.org homepage.

Thanks!

[2017-06-19 08:31] #1234 closed

[2017-06-19 08:50] RayWoodson commented on #1234
I found something .there is a user count delete and deleting files.but this user doing nothing .I don't know why

[2017-06-30 08:06] Kawohl opened #1240 "md5 checks missing"
on the install page the md 5 checks are missing

[2017-06-30 08:08] Kawohl commented on #1211
dupe of https://github.com/owncloud/owncloud.org/issues/1074

[2017-06-30 08:08] #1211 closed

[2017-06-30 08:10] Kawohl commented on #1240
dupe and close

[2017-06-30 08:10] #1240 closed

[2017-06-30 11:53] Kawohl commented on #1215
seems fixed

[2017-06-30 11:53] #1215 closed

[2017-06-30 11:55] Kawohl commented on #1185
@crrodriguez any news? this seems really wrong

[2017-06-30 12:00] Kawohl commented on #1137
i fixed the comment,
initial issue closed.

[2017-06-30 12:00] #1137 closed

[2017-06-30 12:04] Kawohl commented on #863
@Prakharsvnit any update?

[2017-06-30 12:06] Kawohl commented on #118
I guess we can close this. new place anyway  marketplace.owncloud.com

[2017-06-30 12:07] Kawohl commented on #104
@tomneedham is this still something to do?

[2017-06-30 12:09] Kawohl commented on #37
@mkormendy i object that. this doesn't make sense for me. Since this issue is so old i will close it. Feel free to reopen if you would like to discuss on this topic.

[2017-06-30 12:09] #37 closed

[2017-06-30 13:02] mkormendy commented on #37
This was for a time when ownCloud was less stable and certain nightlies were more stable than others even vs major releases.

This has changed now and major releases have followed a much more rigorous release process and are more stable.

Thanks for closing this.

[2017-06-30 13:21] tomneedham commented on #104
No currently this works just fine IMO. Reopen if someone thinks this needs a change.

[2017-06-30 13:21] #104 closed

[2017-07-03 19:48] #911 closed

[2017-07-05 10:35] Kawohl opened #1242 "increase mx_post size to be able to upload larger media files"
^ @jnweiger

[2017-07-15 15:59] kdslkdsaldsal opened #1245 "Notes/updates to the "Good bye apps.owncloud.com" blogpost"
Hi *,

thanks for the blog post on how to use the new marketplace in older oC versions at:

https://owncloud.org/blog/good-bye-apps-owncloud-com/

Just some notes:

1. Are there any reasons why this blogopost wasn't announced at central nor at the mailinglist?
Reason: The blogpost is already hidden on the startpage https://owncloud.org/ and only shown when browsing to https://owncloud.org/news/ an

[2017-08-17 07:28] PVince81 commented on #1245
@emil

[2017-08-17 07:28] PVince81 commented on #1245
@Kawohl

[2017-08-17 14:36] Kawohl commented on #1245
Thank you! Fixed it.

[2017-08-17 14:37] Kawohl commented on #1245
Ah wee need to make this sticky somehow. @kremer can you take a lokk please?

[2017-08-18 12:03] jnweiger opened #1258 "client nightlies missing on the web pages"
https://owncloud.org/install/#testing-development has

server
* testing and
* nightlies (called daily)

client
* testing
* testpilotcloud testing
* _no nighlies_

Please also add client nightlies  there.

[2017-08-19 07:41] lefherz commented on #1258
Testpilot is already there, I think, on the right. Should have a headline though.

[2017-08-19 13:48] jnweiger commented on #1258
You are right. I had mistaken the part on the right for the regular testing client, by looking at the link https://download.owncloud.com/desktop/testing/owncloudclient-2.3.3-rc2.tar.xz -- that are the sources of the regular client. the win mac linux binaries are indeed testpilotcloud binaries.

Only nightlies are really missing.

[2017-08-20 08:45] lefherz commented on #1258
This actually has a reason: https://github.com/owncloud/owncloud.org/blob/master/strings.php#L37

There is an if-condition on https://github.com/owncloud/owncloud.org/blob/master/install-instructions.php#L356 which disables the nightly-builds if $VERSIONS_CLIENT_DESKTOP_TESTING is not empty. So atm they are not shown, because we offer RCs.

I added a headline for testpilots in https://github.com/o

[2017-08-20 10:47] lefherz commented on #1258
Look here if this fits your requirements: https://github.com/owncloud/owncloud.org/pull/1262

Something else is still missing on the page though - the android beta client. Discuss on https://github.com/owncloud/owncloud.org/pull/1261 whether it should be put on this page.

[2017-08-21 07:45] DeepDiver1975 opened #1263 "Add electronic mechanism to sign contrib agreement ..."
ref https://owncloud.org/contribute/agreement/

We also allow an electronic way of signing the contrib agreement by using https://cla-assistant.io/

A new contributor can sign the cla within github.

if you need more information please let me know.

[2017-08-21 07:46] DeepDiver1975 commented on #1263
TBH: this is the only way ;-)

[2017-08-21 07:49] DeepDiver1975 commented on #1263
This is also wrong - multiple repos require the cla

[code]

[2017-08-21 10:01] Kawohl opened #1264 "https://doc.owncloud.org/server/10.0/developer_manual/testing/ needs rework"
As above wrong information all around.

https://doc.owncloud.org/server/10.0/developer_manual/testing/ needs rework

[2017-08-21 10:02] Kawohl commented on #1264
@lefherz @stkjj

[2017-08-21 10:17] lefherz commented on #1264
Hm, the link is from doc.owncloud.org and technically belongs in this issue-tracker, I think: https://github.com/owncloud/documentation/issues

Or do you mean another page maybe?

[2017-08-21 12:12] Kawohl commented on #1264
Thanks will reopen in docs.

[2017-08-21 12:12] #1264 closed

[2017-08-21 12:15] Kawohl commented on #1264
https://github.com/owncloud/documentation/issues/3324

[2017-08-22 08:58] Kawohl commented on #1263
@Deep Diver do you have a list?

[2017-08-22 09:39] DeepDiver1975 commented on #1263
this changes over time ...

![bildschirmfoto von 2017-08-22 11-38-37](https://user-images.githubusercontent.com/1005065/29559128-7d225f94-872e-11e7-8ee9-ae9098997f72.png)

[2017-08-22 09:40] Kawohl commented on #1263
Merci!

[2017-08-22 09:51] michaelstingl commented on #1263
@hodyroff Should we handle the [iOS Addendum](https://owncloud.org/wp-content/themes/owncloudorgnew/assets/files/Addendum_iOS.pdf) in the CLA tool as well? @DeepDiver1975 Is it possible to have an extended version for iOS?

[2017-09-01 15:24] DeepDiver1975 commented on #1263
Possible

[2017-09-05 10:56] alexkuznetsov opened #1275 "owncloud.org/install link seems broken"
Hi!

The link from title opens blank window, it seems like a PHP error (or something similar).
And it is a little bit difficult to download your software :) Please, check your site and fix it.

And thank you for all your work with ownCloud, it is great software!

[2017-09-05 13:40] Kawohl commented on #1275
hey @alexkuznetsov could you please be a bit more specific about the link or provide a sreenshot with an annotation?

[2017-09-05 16:15] alexkuznetsov commented on #1275
hi @Kawohl , i was talking about https://owncloud.org/install
Now the page opens correct. When i wrote about this issue, the page was blank - just simple white page without any html markup.

[2017-09-05 16:17] alexkuznetsov commented on #1275
I think the problem can be closed as not relevant, now everything is working fine

[2017-09-05 16:17] #1275 closed

[2017-09-14 19:00] greguric commented on #837
I would also like to have at least v2.3.2 because from version 2.3.3 I can't login to my server because something is wrong with LDAP (used to work perfectly)
Here's what I get:

09-07 10:01:46:900 Mirall::Application::Application(int&, char**) Skipping update check
09-07 10:01:46:906 SocketApi:  server started "/home/marko/.local/share/data/ownCloud/socket"
09-07 10:01:47:023 Sys Info size:  1298

[2017-09-17 12:12] michaelstingl opened #1279 "ownCloud Newsletter – Subscribe Button commented out"
https://owncloud.org/newsletter/

![newsletter___owncloud_org](https://user-images.githubusercontent.com/214010/30520630-fc1db324-9bb1-11e7-9090-5362963bdf92.png)

How can I subscribe to the owncloud.org newsletter?

[2017-10-02 14:30] lefherz commented on #1245
@stkjj

[2017-10-03 16:09] stkjj commented on #1245
can add "sticky" to the post, but ownCloud Planet - based on contribook - does not respect this. As we have no separate blog-page (yet) showing a list of our posts, the sticky-flag is completely out of order by now. Will be fixed in the new oc.org site

[2017-10-03 16:09] #1245 closed

[2017-10-18 08:29] Kawohl commented on #1245
@kdslkdsaldsal thanks again for reporting this i hope this all gets better once the new ownCloud.org is deployed i added a page https://owncloud.org/good-bye-appstore-welcome-marketplace/ with the marketplace content. But i am not sure where to link or to put it.

[2017-10-18 10:14] Kawohl commented on #1185
@crrodriguez still ??

[2017-10-18 11:43] davitol commented on #1185
@Kawohl @crrodriguez Yes, it is still an issue

[2017-10-25 10:43] PVince81 opened #1307 "Encoding issue in twitter feed"
Open https://owncloud.org/news/ and check the sidebar:

![spectacle ab9069](https://user-images.githubusercontent.com/277525/31994770-229c96ee-b982-11e7-824c-8c3a6746f7e7.png)

[2017-10-25 10:52] PVince81 opened #1308 "Blog not easy to find from main page, potential broken link"
### Steps

1. Open https://owncloud.org
1. Scan the page visually for "blog" => not found
1. Click on "News" and wonder "is that the blog or is that news ?"
1. Feel confused
1. Type https://owncloud.org/blog => not found, 404
1. Give up

### Expected result
Blog easy to find on the main page, maybe have a "Blog" entry behind "News" in the header.
The URL "https://owncloud.org/blog" must link to th

[2017-10-25 10:54] PVince81 commented on #1308
Furthermore, when on a blog post page like https://owncloud.org/blog/good-bye-apps-owncloud-com/, there should be a way to go back to the blog index / the main blog page that lists all article.

From this article I'm unable to navigate to any other article.

[2017-10-25 10:56] PVince81 commented on #1308
Ok, so it turns out that the "News" link is what points to the blog.

Would be good to have a more compact index there or something in the sidebar to be able to quickly jump to previous articles. I was looking for this article https://owncloud.org/blog/meet-fellow-ownclouders-online-with-video/ and had to scroll down below the first article. I knew that it was a recent article. I was expecting to

[2017-11-08 00:24] mannyzhcn opened #1312 "How 他哦"

[2017-11-08 00:28] #1312 closed

[2017-11-24 21:50] kdslkdsaldsal commented on #1308
Looks like mostly a duplicate of https://github.com/owncloud/owncloud.org/issues/1060

[2017-12-05 15:14] psinghal20 commented on #1279
Hey, is anybody still working on it? I would like to work on this issue. Also, I guess the issue is just of the commented out subscribe button, right?. The button seemed to work perfectly when I corrected it in the browser.

[2017-12-11 09:27] davitol opened #1334 "wrong version shown in the text in stable channel at owncloud.org"
https://owncloud.org/release-channels/      this link shows that the current stable version is 10.0.0 instead of 10.0.4

![screen shot 2017-12-11 at 10 07 15](https://user-images.githubusercontent.com/10596560/33824064-6a0fbc18-de5d-11e7-91db-9da3ef720aa0.png)

The tarball is 10.0.4, the only bug is the text shown

[2017-12-14 16:40] PVince81 opened #1336 "[relaunch] text not readable depending on scrolling position"
The text is white and its position changes with the parallax scrolling and on most positions it's never properly fully readable:
![image](https://user-images.githubusercontent.com/277525/34003553-d8d94fc0-e0f5-11e7-8aca-3d97cb94c343.png)

[2017-12-14 16:41] PVince81 opened #1337 "[relaunch] beta links"
I see "fresh" and "production" channels for server and "technical preview".

Would be good to also have "beta" once we have betas for 10.0.5.

[2017-12-14 16:43] tomneedham opened #1338 "[relaunch] web preview need better image and title"
![screen shot 2017-12-14 at 16 42 54](https://user-images.githubusercontent.com/660805/34003783-158425f6-e0ee-11e7-8158-2806a61d846f.png)

[2017-12-14 16:43] PVince81 opened #1339 "Capitalize tarballs"
![image](https://user-images.githubusercontent.com/277525/34003731-50064b20-e0f6-11e7-9885-ccaa32616309.png)

=> "Tar balls" or even "Tarballs"

[2017-12-14 16:44] tomneedham commented on #1338
https://developers.facebook.com/tools/debug/sharing/

[2017-12-14 16:45] tomneedham commented on #1338
So I can tweet / share this sexy thang ;)

[2017-12-14 16:45] ChrisEdS opened #1340 "Switch community image under https://dev2.owncloud.org/features/"
In my opinion, people look like they're going to a boring concert. I miss a bit the enthusiasm for the "project".

https://dev2.owncloud.org/wp-content/uploads/2017/11/owncloud-community-driven.jpg

[2017-12-14 16:48] tomneedham opened #1341 "[relaunch] missing favicon"

[2017-12-14 19:40] hurradieweltgehtunter commented on #1337
I was told that tech preview contains alphas, betas and RC's and there will be no alpha parallel to a beta or the other way round.

[2017-12-14 19:41] hurradieweltgehtunter commented on #1338
You're absolutely right. @Kawohl is currently working on the SEO implementations of pages and posts

[2017-12-14 22:25] hurradieweltgehtunter commented on #1341
![image](https://user-images.githubusercontent.com/16665512/34017422-fde512c4-e125-11e7-9217-3868dcff4327.png)

done!
Thanks for noticing

[2017-12-14 22:25] #1341 closed

[2017-12-14 22:27] hurradieweltgehtunter commented on #1339
done.
Thanks for noticing

[2017-12-14 22:27] #1339 closed

[2017-12-14 22:32] hurradieweltgehtunter commented on #1338
![image](https://user-images.githubusercontent.com/16665512/34017535-6b9249fe-e126-11e7-9fe2-7f2c1bbb1e0a.png)

Cool enough? :)
Also check out the other pages:
Download:
![image](https://user-images.githubusercontent.com/16665512/34017567-86f7af5e-e126-11e7-83b8-b1a971facaf4.png)

Features:
![image](https://user-images.githubusercontent.com/16665512/34017577-9892c712-e126-11e7-977a-e66ff3b48105.pn

[2017-12-14 22:32] #1338 closed

[2017-12-14 22:40] hurradieweltgehtunter commented on #1340
Like this one better?
Thanks for noticing
![image](https://user-images.githubusercontent.com/16665512/34017957-1df4d728-e128-11e7-9376-f39e26613c6a.png)

[2017-12-14 23:29] hurradieweltgehtunter commented on #1336
Thanks for noticing.
Fixed

[2017-12-14 23:29] #1336 closed

[2017-12-14 23:29] #1340 closed

[2017-12-15 08:20] SergioBertolinSG opened #1342 "Security section is not updated"
For example we can see:

![screen shot 2017-12-15 at 09 19 17](https://user-images.githubusercontent.com/9048796/34033096-24720372-e179-11e7-9176-19944f444250.png)

Last server released is 10.0.4.

[2017-12-15 10:32] hurradieweltgehtunter commented on #1342
Security Page is maintained by @Peter-Prochaska afaik. I sent him an email to check this page and add missing topics.

[2017-12-15 10:33] hurradieweltgehtunter commented on #1337
All download resources are dummies atm. Michael and Felix sent me an email with current download links yesterday. I did not yet had the time to insert them but this will be done asap.

[2017-12-15 13:49] guruz opened #1343 "e-mail signup text input field hard to find on front page"
(too little contract to background, maybe add a border and placeholder text?)

[2017-12-15 13:56] guruz opened #1344 "Add more vertical spacing between totally different sections on https://dev2.owncloud.org/download/ (e.g. Server and Desktop Client)"

[2017-12-15 14:01] guruz opened #1345 "Hide 'Devel' and 'User' list from https://mailman.owncloud.org/mailman/listinfo/ ? (Don't delete the list)"
This is directly reachable with the ```Mailing List``` link at the footer.

But we want people to use central.owncloud.org

[2017-12-17 15:12] hurradieweltgehtunter commented on #1345
@Kawohl who can change the mailman page?

[2017-12-18 09:29] Kawohl commented on #1345
No idea, @jnweiger probably will try to get acess today.

[2017-12-18 09:45] hurradieweltgehtunter commented on #1342
Is updated. Thanks for noticing

[2017-12-18 09:45] #1342 closed

[2017-12-18 11:32] jnweiger commented on #1345
Please send a ticket to sysadmin@owncloud.com, I probably will try to not touch mailman today :-)

[2017-12-18 13:52] Kawohl commented on #1345
Ticket opened,

[2017-12-18 14:00] #118 closed, assigned to nobody

[2017-12-18 14:02] #779 closed

[2017-12-18 14:02] Kawohl commented on #674
@felixheidecke could you  please hep out here then?

[2017-12-18 14:22] Kawohl commented on #1334
will be fixed with relaunch

[2017-12-18 14:25] Kawohl commented on #1263
imo  not needed anymore.

[2017-12-18 14:25] #1263 closed

[2017-12-18 14:47] hurradieweltgehtunter commented on #1337
download links are updated

[2017-12-18 14:47] #1337 closed

[2017-12-18 14:48] JKawohl opened #1348 "update faq"
owncloud.org/faq/

[2017-12-18 15:36] Kawohl commented on #1345
Done thanks to @mrlinux1

[2017-12-18 15:36] #1345 closed

[2017-12-18 20:15] SamuAlfageme opened #1349 "Download links in client changelog are gone"
Where are all the download links for the different client versions in https://owncloud.org/changelog/desktop-client ???

I guess this would be because the website is being fed by the changelog living on the client repo. **which does not contain the download links**. This is important since we point at the changelog quite often for people to test with previous versions/betas/release candidates.

Al

[2017-12-19 08:29] michaelstingl commented on #1349
We now have changelogs for all platforms in the GH repos:

- https://github.com/owncloud/client/blob/master/ChangeLog
- https://github.com/owncloud/core/blob/stable10/CHANGELOG.md
- https://github.com/owncloud/android/blob/master/CHANGELOG.md
- https://github.com/owncloud/ios/blob/master/Changelog.md

Changlogs now get imported automatically to owncloud.org.

Previously _someone(tm)_ copy-pasted c

[2017-12-19 08:35] michaelstingl commented on #1349
And yes, I'd love to have something like the [old strings.php](https://github.com/owncloud/owncloud.org/blob/master/strings.php) which feds some of the information on the owncloud.org website. Need to discuss what's available… JSON file on GH? Using the WP API? etc

[2017-12-19 11:48] SamuAlfageme opened #1350 "German title on the default 404 page"
I tried to access https://owncloud.org/team (404 page) and everything on the page is in English but the:

[code]

[2017-12-19 11:57] j-ed opened #1351 "www.owncloud.org uses an invalid certificate"
Owncloud v10.0.4 seems to check if a valid internet connections exists by accessing **https://www.owncloud.org** . Unfortunately this server uses an invalid server certificate which only covers the domains `int.owncloud.com` and `*.int.owncloud.com`, so that this check fails and and error about a missing internet connection is displayed.

[2017-12-19 11:59] DeepDiver1975 commented on #1351
@jnweiger @tboerger

[2017-12-19 12:00] DeepDiver1975 commented on #1351
wrong cert deployed

![bildschirmfoto von 2017-12-19 13-00-13](https://user-images.githubusercontent.com/1005065/34156231-98e7f37e-e4bc-11e7-91be-0ad2520b4ba6.png)

[2017-12-19 12:05] DeepDiver1975 commented on #1351
![bildschirmfoto von 2017-12-19 13-05-01](https://user-images.githubusercontent.com/1005065/34156371-41434672-e4bd-11e7-9b67-c2a7735f06b4.png)

[2017-12-19 12:51] lefherz commented on #1348
A Table of Contents would be nice for FAQ - maybe custom fields or custom post types for the single questions, so we can autogenerate it.

[2017-12-19 12:54] lefherz opened #1352 "Hosting Partners Page improvements"
You can't yet apply more than one Filter on the Hosting Partners Page.
More possible filters could be:
* Pricing starts at

You can't yet apply for becoming a Hosting Partner, the page doesn't exist yet.

[2017-12-19 13:46] Kawohl commented on #1351
@j-ed thanks for reporting can you confirm this is fixed now?

[2017-12-19 14:02] lefherz opened #1353 "CSS <b> is broken"
the bold tag in the css seems to be broken.

Example: this interview, where the questions should be bold (and are so in the edit backend): https://owncloud.org/news/schabi-and-owncloud-a-contributors-story/

[2017-12-19 14:23] hurradieweltgehtunter commented on #1351
Cert is fixed

[2017-12-19 14:24] hurradieweltgehtunter commented on #1349
download links for older versions have their own page now: https://owncloud.org/download/older-versions/
About the changelogs: We should sit together and set up a unified process.

[2017-12-19 14:27] #1334 closed

[2017-12-19 14:31] SamuAlfageme commented on #1349
@hurradieweltgehtunter Thanks a bunch!

Agreed - anytime!

[2017-12-19 15:38] tboerger commented on #1351
![bildschirmfoto 2017-12-19 um 14 06 32](https://user-images.githubusercontent.com/156964/34164858-fbf00efc-e4da-11e7-8303-6cbbd0930bd8.png)
![bildschirmfoto 2017-12-19 um 14 08 34](https://user-images.githubusercontent.com/156964/34164859-fc099f7a-e4da-11e7-875c-5d53510a082d.png)

[2017-12-19 15:54] michaelstingl commented on #1349
@hurradieweltgehtunter please add some semantics:

- <section> for server, section for client (optional)
- id/name attribute for server/client section to link directly to the clients

[2017-12-19 21:25] j-ed commented on #1351
@Kawohl Everything is fine now 😄

[2017-12-20 12:12] guruz commented on #1349
https://owncloud.org/changelog/desktop-client does not have links to the issues either.
You can use the script I had in https://github.com/owncloud/administration-internal/blob/master/clients/desktop/make_html_changelog.php to convert the text-Changelog in the client github repo to HTML.

Why would you convert something to JSON first?

Just do what worked since forever and is now broken.

[2017-12-20 12:22] jnweiger commented on #1349
We should place the output of make_html_changes.php in github so that wordpress can pull it from there.
Currently it seems to pull the input to make_html_changes.php only.

It never appeared to me, why we should post a differnet changelog on github than what we link on the websites. That was wrong in the past, imho.

[2017-12-20 12:29] guruz commented on #1349
That's exactly what page-desktop.php used to be.

Because the one in github doesn't have the link to .exe, .pkg etc under it.
Also the links are not clickable ;-)

[2017-12-20 12:35] Kawohl commented on #1352
imo unmaintainable. Will close. Please reopen if you have other propositions.

[2017-12-20 12:39] Kawohl commented on #1308
With the new page we have aggregated everything to /news.
Please feel to reopen if you think we need a news section.

[2017-12-20 12:39] #1308 closed

[2017-12-20 12:39] Kawohl commented on #1060
all links to news now.

[2017-12-20 12:39] #1060 closed

[2017-12-20 12:40] Kawohl commented on #1279
subscribe works with new page.

[2017-12-20 12:40] #1279 closed

[2017-12-20 12:41] Kawohl commented on #1258
all aggregated to technical preview.

[2017-12-20 12:41] #1258 closed

[2017-12-20 12:42] #1242 closed

[2017-12-20 12:42] Kawohl commented on #1192
fixed with new release.

[2017-12-20 12:42] #1192 closed

[2017-12-20 12:48] guruz commented on #1192
That looks definitely better now with the new website.

[2017-12-20 13:05] Kawohl commented on #863
new site, no more modals

[2017-12-20 13:05] #863 closed

[2017-12-20 13:06] #1062 closed

[2017-12-20 13:34] lefherz commented on #1352
Okay, then we don't include "Pricing starts at", but still there are 2 points left:

* you can't yet apply two filters simultaneously, to e.g. see everyone who is "best for consumers" and offers "free plans"
* in the apply form you can't yet specify if you offer "free plans", are "best for consumers", and/or "best for organizations". Checkboxes would be appropriate for those options.

[2017-12-20 15:38] guruz commented on #1345
merci..

[2017-12-20 20:26] guruz commented on #1349
As discussed with @jnweiger here the HTML to pull into https://owncloud.org/changelog/desktop-client/: https://github.com/owncloud/client/pull/6260

[2017-12-21 09:36] hurradieweltgehtunter commented on #547
up and running after relaunch

[2017-12-21 09:36] #547 closed

[2017-12-21 09:37] hurradieweltgehtunter commented on #1307
fixed after relaunch

[2017-12-21 09:37] #1307 closed

[2017-12-21 09:39] hurradieweltgehtunter commented on #1167
Download page has completely new structure after relaunch. I hope the new structure is correct. If not please let me know.

[2017-12-21 09:39] #1167 closed

[2017-12-21 09:40] hurradieweltgehtunter commented on #1074
Closing this because it references the old page before relaunch.

[2017-12-21 09:40] #1074 closed

[2017-12-21 09:41] hurradieweltgehtunter commented on #1123
Closing because referencing to old website before relaunch.

[2017-12-21 09:41] #1123 closed

[2017-12-21 09:42] hurradieweltgehtunter commented on #1112
fixed right? Also, should be in /documentation

[2017-12-21 09:42] #1112 closed

[2017-12-21 09:43] hurradieweltgehtunter commented on #1072
Push. After relaunch /history is missing atm. We need to setup this page and keep it updated.

[2017-12-21 09:46] hurradieweltgehtunter opened #1354 "general changelog process"
We should create an unified process how to get the changelogs of server, client (and maybe mobile apps too) on the website. RN everyone does it differently which makes it hard for me to scrape and display it on the website.
Opening this for awareness, we should talk and find a way which makes everyones life easier.
@guruz @michaelstingl @PVince81 @Kawohl @jnweiger

### website perspective
From the

[2017-12-21 09:47] hurradieweltgehtunter commented on #1047
Issues references website before relaunch. I'm closing this. There is a changelog discussion going on here: #1354

[2017-12-21 09:47] #1047 closed

[2017-12-21 10:04] hurradieweltgehtunter commented on #1033
I'm closing this because referencing to old website before relaunch. Please open a new issue if theres still a problem. Thx

[2017-12-21 10:04] #1033 closed

[2017-12-21 10:05] hurradieweltgehtunter commented on #1023
Please reopen if still relevant after relaunch

[2017-12-21 10:05] #1023 closed

[2017-12-21 10:06] hurradieweltgehtunter commented on #845
SLL cert is installed and valid for owncloud.org.
Closing this because oooooold.

[2017-12-21 10:12] hurradieweltgehtunter commented on #6
After #1354 is cleared and implemented there will be a changelog/server/feed, changelog/desktop-client/feed and maybe changelog/mobile/feed.

[2017-12-21 10:12] #6 closed

[2017-12-21 10:13] hurradieweltgehtunter commented on #59
see #1354

[2017-12-21 10:13] #59 closed

[2017-12-21 10:14] hurradieweltgehtunter commented on #674
outdated after relaunch. But I am open to every (design) improvment. Please open new issue.

[2017-12-21 10:14] #674 closed

[2017-12-21 10:17] hurradieweltgehtunter commented on #1185
Should be fixed after relaunch right?
If not, please open  anew issue and let me know.
Thx

[2017-12-21 10:17] #1185 closed

[2017-12-21 10:21] hurradieweltgehtunter commented on #1352
ok I see you point. Shoudn't be a big deal but no prio rn.

[2017-12-21 10:21] hurradieweltgehtunter commented on #1352
oops. closed it by accident.

[2017-12-21 10:37] hurradieweltgehtunter commented on #1350
This is indeed bad and surprisingly really hard to fix o.0
I'm on it.
Thx for noticing.

[2017-12-21 11:54] danimo commented on #845
This is _not_ the same as HSTS preload. Old is not a good reason to close issues. See our comments above about the risks involved with this. should negligible these days.

[2017-12-21 11:58] Kawohl commented on #845
@tboerger any thoughts?
@jnweiger

[2017-12-21 13:15] hurradieweltgehtunter commented on #845
Ok thanks for clarifying and reopening. I hoped this was done with the relaunch but obviously not.

[2017-12-21 14:49] michaelstingl commented on #1354
We now have changelogs for all platforms in the GH repos:

https://github.com/owncloud/client/blob/master/ChangeLog
https://github.com/owncloud/core/blob/stable10/CHANGELOG.md
https://github.com/owncloud/android/blob/master/CHANGELOG.md
https://github.com/owncloud/ios/blob/master/Changelog.md

@guruz @SamuAlfageme use Markdown format for client changelog too and make issue ID's clickable? (same as

[2017-12-21 15:09] hurradieweltgehtunter commented on #1354
uh that was fast. Thank you!

[2017-12-21 15:24] hurradieweltgehtunter commented on #1354
Beautiful: https://owncloud.org/changelog/

[2017-12-21 18:06] tboerger commented on #845
If I take https://securityheaders.io/?q=owncloud.org&followRedirects=on for reference there is lot of space for improvement. Please enable these headers through the .htaccess file of the Wordpress instance.

[2017-12-24 10:25] tflidd commented on #1354
for the server it shows me only this (as text, it does not load anything):

[load-github id=”changelog-server” url=”https://raw.githubusercontent.com/owncloud/core/stable10/CHANGELOG.md”]

[2017-12-24 12:40] Kawohl opened #1355 "Broken contact form on the bottom of https://owncloud.org/features/"
https://owncloud.org/features/

the contactform is borked.

[2017-12-26 08:49] guruz commented on #1354
Broken for desktop too.
[code]

Please for desktop just add those two links:
[code]
(We can think of a better text later, e.g. the latter one does not contain binary/installer links)

[2017-12-26 09:06] guruz commented on #1349
OK, now instead as suggest by @SamuAlfageme and discussed with @michaelstingl we're using the github release concept (based on git tags).
Therefore please check https://github.com/owncloud/owncloud.org/issues/1354#issuecomment-353940522 because right now https://owncloud.org/changelog/desktop-client  is totally broken :-/

[2017-12-28 08:38] mmattel opened #1356 "@Download: release date format mixed up"
https://owncloud.org/download/
Just take a look that the date format on ``release date`` is mixed up, examples on the screenshots below.
I propose anyways the format yyyy.mm.dd as standard. This is naturally and reads most easiest. The format used for the tar ball is the worst one...

a.)
![image](https://user-images.githubusercontent.com/3321281/34405176-228da212-ebb2-11e7-8cc1-09bda296f793.png)

[2017-12-28 09:08] mmattel commented on #1349
Broken for **all** changelog entries.

Visitor currently see eg ``[load-github id=”changelog-server” url=”https://raw.githubusercontent.com/owncloud/core/stable10/CHANGELOG.md”]``

Quick fix needed 🆘

[2017-12-28 10:30] jnweiger commented on #1349
@mmattel For a quick fix, see the links at the bottom of https://owncloud.org/changelog/desktop-client
@hurradieweltgehtunter please check what is wrong with the github importer.

[2017-12-28 12:07] mmattel commented on #1349
@jnweiger Thanks for the note, but a quick fix to look at the link given is not the solution.
The all changelog pages are public and are broken. This needs a quick fix...

[2017-12-28 15:44] tomneedham commented on #1349
Agreed - this is a big regression on functionality at the moment and there is no nice workaround

[2017-12-30 07:56] guruz opened #1357 "Clicking a link does not change # anchor in URL bar"
E.g. in Chrome click "Mac OS" on right side here: https://owncloud.org/download/

[2018-01-02 10:04] felixboehm commented on #1349
@hurradieweltgehtunter

[2018-01-02 13:17] lefherz opened #1358 "Create an imprint"
We need an imprint to comply with german website law.

[2018-01-02 13:26] lefherz opened #1359 "Cookie warning"
We need a cookie warning to comply with EU privacy law.

[2018-01-03 14:38] lefherz opened #1360 "Configuration Error on the Features Contact Form"
There is a contact form on https://owncloud.org/features/, where some of the code is displaying, instead of clean text.

[code]

It works, but the looks could be improved.

[2018-01-03 14:48] lefherz opened #1361 "Security Advisories: Category named wrongly"
on the https://owncloud.org/security/advisories/ page, the mobile client category is wrongly named "Desktop Clients". It can't be simply changed by editing the page, and the Security Advisory Platform is named correctly, where I had assumed the error is.

[2018-01-04 10:07] patrickjahns commented on #1360
Screenshot:
![image](https://user-images.githubusercontent.com/6403243/34558724-7c26d4e6-f13f-11e7-8963-8375255b8436.png)

[2018-01-04 10:08] patrickjahns commented on #1355
Screenshot
![image](https://user-images.githubusercontent.com/6403243/34558742-9169afd6-f13f-11e7-8866-dbf0752f4076.png)

[2018-01-04 10:08] patrickjahns commented on #1360
Duplicate of #1355

[2018-01-04 10:08] #1360 closed

[2018-01-04 14:10] felixboehm opened #1362 "merge content for version lifetime and downloads"
I think it makes sense to have this content maintained on our website.
https://github.com/owncloud/core/wiki/Maintenance-and-Release-Schedule

Also we can add an explanation on the planned release schedule, related to LTS versions:
- 10.0 LTS, spring 2017 - spring 2020
- 11.0 LTS, spring 2019 - spring 2022

The visual key is, there is one your overlapping, allowing testing and planning of an upgra

[2018-01-04 21:19] michaelstingl opened #1363 "System requirements needed for desktop & mobile clients…"
… to avoid confusion like:

([source](https://twitter.com/matiasacassani/status/948919036678721536))

Small indicator would be enough:
<img width="1165" alt="getting_started_with_owncloud_-_owncloud_org" src="https://user-images.githubusercontent.com/214010/34584735-3d7e64e4-f19d-11e7-9f2c-dfcf77ce52b9.png">

[2018-01-05 11:58] jnweiger commented on #1358
Should the new owncloud.org page has its own imprint, or just a link in the footer to https://owncloud.com/imprint/ ?
I's suggest to put it in the footer, under the 'Privacy policy' entry.

[2018-01-09 12:31] hurradieweltgehtunter commented on #1355
fixed

[2018-01-09 12:31] #1355 closed

[2018-01-09 12:33] hurradieweltgehtunter commented on #1349
Fixed.

[2018-01-09 14:15] michaelstingl commented on #1349
👍

[2018-01-10 09:14] JKawohl opened #1364 "add syntax highlighting"
@hurradieweltgehtunter

As talked about yesterday please implement syntax highlighting in the way you want.

[2018-01-11 10:19] Kawohl commented on #1362
good point, @hurradieweltgehtunter what do you think? imho we should grab the table from https://github.com/owncloud/core/wiki/Maintenance-and-Release-Schedule

[2018-01-13 17:41] hurradieweltgehtunter opened #1365 "Bring the team website to oc.org"
https://owncloud.com/de/team/

[2018-01-16 14:29] hurradieweltgehtunter commented on #1356
Thx for noticing.
Fixed. Also buttons won't break lines.

[2018-01-16 14:29] #1356 closed

[2018-01-16 14:48] hurradieweltgehtunter commented on #1357
Thx for noticing.
Fixed.

[2018-01-16 14:48] #1357 closed

[2018-01-16 14:51] hurradieweltgehtunter commented on #1363
is this info per download?
production | 2017/01/17 | OSX 10.__7__+, 64bit | Download for OSX
beta | 2017/01/15 | OSX 10.__8__+, 64bit | Download for OSX
?

[2018-01-16 15:08] hurradieweltgehtunter commented on #1349
afaik all current changelogs are included via github changelog md's right?
There is a seperate page for older version downloads (https://owncloud.org/download/older-versions/). Would you still include dl links in changelogs?
Anyway, you can do this by including them into the changelog files.
Is there anything left to be done or can this issue be closed?

[2018-01-16 15:49] hurradieweltgehtunter commented on #1359
implemented

[2018-01-16 15:49] #1359 closed

[2018-01-16 15:51] hurradieweltgehtunter commented on #1344
should be done. If you still have sth. please re-open

[2018-01-16 15:51] #1344 closed

[2018-01-16 16:05] hurradieweltgehtunter commented on #1350
stupid hidden form box. But fixed.
Thx for noticing.

[2018-01-16 16:05] #1350 closed

[2018-01-17 09:07] michaelstingl commented on #1363
ownCloud desktop sync client 2.4.0+ ==> OSX 10.**10**+, 64bit

[2018-01-17 09:09] michaelstingl commented on #1349
close for now

[2018-01-17 18:07] #1354 closed

[2018-01-17 18:08] hurradieweltgehtunter commented on #1358
@hodyroff is this sufficient in legal terms?

[2018-01-24 10:47] lefherz opened #1366 "Twitter roll on FrontPage features old twitter account"
The twitter roll on our FrontPage should feature https://twitter.com/ownCloud/ instead.

[2018-01-26 17:47] mmattel opened #1367 "owncloud.org and owncloud.com download page has different look and feel and content"
Wouldn´t it be good that owncloud.com redirects to owncloud.org when you press the download button?
![image](https://user-images.githubusercontent.com/3321281/35452983-d642934e-02c8-11e8-9b49-d17fea329332.png)
Instead of maintaining its own page?

Just stumbled over it and it makes no sense to me and confuses.

@PVince81

[2018-01-31 19:52] guruz commented on #1349
Still broken :-/

* https://owncloud.org/changelog/desktop-client/ does not have clickable links as it had before. I thought we link to https://github.com/owncloud/client/releases instead which has clickable links?
* People on central are confused about it too: https://central.owncloud.org/t/changelog-not-up-to-date/11651

Where is that linked from? IMHO it should be linked from owncloud.org/insta

[2018-02-06 02:53] terrytibbles opened #1368 "Missing MD5s from Download Section"
I just posted this on the [ownCloud forum](https://central.owncloud.org/t/missing-md5s-from-download-section/11738):

The ownCloud website seems to have been re-designed, and any way of verifying the download seems to have disappeared. Is there any way of verifying the download using MD5 or SHA256?

Thanks.

[2018-02-06 17:47] hurradieweltgehtunter commented on #1349
The changelog is taken from https://raw.githubusercontent.com/owncloud/client/master/ChangeLog automatically and markdown is parsed. If markdown links are included in this file, they will appear on the page. We don't do anything manually on oc.org side.
I included the link in the changelog page. On /download (formerly /install) it's already included.

[2018-02-06 17:49] hurradieweltgehtunter commented on #1367
You are absolutely right. Might take a little but we are on it right now.
Thanks for the feedback.

[2018-02-06 18:46] michaelstingl commented on #1349
@hurradieweltgehtunter thanks for the explanation

@guruz @SamuAlfageme @jnweiger Please let us review the client release process to check how we can integrate here…

[2018-02-07 02:52] hurradieweltgehtunter commented on #1349
Maybe talk to @PVince81  He's doing it the same way for the server changelog

[2018-02-07 07:51] DeepDiver1975 commented on #1368
@hurradieweltgehtunter you can add .asc and .md5 and .sha256 to the archives to access the checksums.

[2018-02-08 16:40] guruz commented on #1349
@michaelstingl @jnweiger this is **still** not fixed.
https://owncloud.org/changelog/desktop-client/ still does not contain links to the downloads. What's so hard about linking to /install and https://github.com/owncloud/client/releases/tag/v2.4.0 ?

If you give me access to the website I'd rather do it myself than to beg here since 2 months.

No need to have markdown, the links are automatically

[2018-02-08 16:47] michaelstingl commented on #1349
@guruz Yes, I'm totally aware of it. I need a quick meeting with you before any action is going on here.

[2018-02-08 16:51] guruz commented on #1349
@michaelstingl I'm already happy if you add a link "Clickable ChangeLog issues and download links on  https://github.com/owncloud/client/releases" :-)

[2018-02-08 17:36] guruz commented on #1349
...and one for "Current version downloads" to /install .. it really doesn't need to be perfect, just getting the old functionality back.
btw, which process updates https://owncloud.org/download/older-versions/ ?

[2018-02-08 21:47] jnweiger commented on #1349
https://owncloud.org/download/older-versions/ is a simple wordpress page. It was Last edited by Jürgen Weigert on December 28, 2017 at 11:25 am

I guess the process is to ping the web team for updates. :-)

[2018-02-09 07:55] nasli opened #1369 "Only the last 10 news articles are accesible"
### Steps to reproduce
1.Go to news section https://owncloud.org/news/
2.Try to go to the eleventh old post blog

### Expected behaviour
When you scrolldown new post blogs are loading automatically or there is a button to go to next page.

### Actual behaviour
It is only possible to access latest 10 post blog

### Browser
Any

[2018-02-09 14:15] guruz commented on #1349
@jnweiger Then we might as well have the older version links on https://github.com/owncloud/client/releases ?

[2018-02-09 23:40] hurradieweltgehtunter commented on #1369
I know about this. It's on my ToDo List. Thanks for noticing

[2018-02-15 17:40] hurradieweltgehtunter commented on #1369
Implemented endless scroll on home and /news

[2018-02-15 17:40] #1369 closed

[2018-02-20 13:46] hurradieweltgehtunter commented on #1368
Checksums are included again. See below the download buttons of server zip and tar. Others will follow if available.

[2018-02-20 13:46] #1368 closed

[2018-02-23 14:25] guruz commented on #1349
Still not working. Good that a link to GitHub (nearly) fulfills the requirements..
https://central.owncloud.org/t/desktop-client-2-4-1-rc1-released/12072

[2018-02-24 01:25] hurradieweltgehtunter commented on #1349
The links are still not in the changelog file

[2018-03-01 12:40] lefherz opened #1370 "Improve button css for mobile"
in mobile view, buttons don't break lines automatically:

![button sticks out of the screen](https://cloud.owncloud.com/index.php/s/crP2iNhPi5DhebL/download)

This could look better for buttons with a lot text :)

[2018-03-01 16:51] guruz commented on #1349
https://github.com/owncloud/owncloud.org/issues/1349#issuecomment-364175010 was just done by @jnweiger ... thx

Because it shows a nice Changelog with clickable issue links... this is what especially people that use rc's like to see.
(plus I don't have access to the oc.org wordpress)

[2018-03-01 17:37] hurradieweltgehtunter commented on #1349
This "solution" is only temporarily and has to be removed because it confuses the visitor and breaks the user experience.
So far I still got no reason why you don't use markdown in the desktop changelog like in the tarball, ios and android changelogs. The process has changed since the relaunch so please adapt. It's nearly 3 months and the desktop changelogs are still not consistent with the others

[2018-03-05 16:38] hurradieweltgehtunter commented on #1358
done: https://owncloud.org/imprint/

[2018-03-05 16:38] #1358 closed

[2018-03-05 16:39] hurradieweltgehtunter commented on #1353
done

[2018-03-05 16:39] hurradieweltgehtunter commented on #1366
done

[2018-03-05 16:39] #1366 closed

[2018-03-12 16:13] PVince81 opened #1371 "Providers page logos overlap"
Go to https://owncloud.org/hosting-partners/ with Firefox 58.0.2 and see that the logos overlap with the text.

[2018-03-13 12:17] lefherz commented on #1353
unfortunately, <strong> is still broken. And strong is what you get if you want to write bold in the GUI editor, so we should fix it. Right now it is necessary to edit <strong> -> <b> in the text editor.

[2018-03-26 10:49] lefherz opened #1372 "Remove "Website" option in Comment Form"
In the current comment form below blog posts, we offer to enter an URL to be displayed. This is mainly used for spam comments - I have never seen that someone uses this for a valid purpose.

If we just remove the option to post the URL of one's homepage, we could save a lot of time at sorting out spam - and wouldn't offend users if we exclude their homepage from their final comment (expectation ma

[2018-03-26 22:12] bfallik opened #1373 "RSS security feed is broken"
Hi,

We're performing a security audit and I wanted to learn about recent OwnCloud security fixes. From https://owncloud.org/security/ I clicked on the RSS link https://dev.owncloud.org/security/feed, which is broken:
[code]

If I drop the 'dev' term I do get a valid RSS feed, but it's not clear to me if this is being kept up to date since the most reset article is from May 2017.

Where can find I

[2018-03-27 08:56] hurradieweltgehtunter commented on #1373
Hi,
thanks for noticing. I fixed it.

[2018-03-27 08:57] hurradieweltgehtunter commented on #1372
Good point. I removed it

[2018-03-27 08:57] #1372 closed

[2018-03-27 09:00] hurradieweltgehtunter commented on #1353
i just went by the topic title. sorry.
Added bold texts to <strong> elements too.

[2018-03-27 09:00] #1353 closed

[2018-03-27 09:06] hurradieweltgehtunter commented on #1371
Thanks for noticing. Fixed.

[2018-03-27 09:06] #1371 closed

[2018-03-27 12:05] bfallik commented on #1373
@hurradieweltgehtunter thank you for fixing the broken link but I'm still not sure I have an answer to my underlying question.

When I browse that feed I see [0 news items](https://m.simplepie.org/?feed=https%3A%2F%2Fowncloud.org%2Fsecurity%2Ffeed%2F) so I don't know when the most recent security fix was addressed to know if we've applied it or not.

How can I determine if we've missed any recent

[2018-03-27 13:43] lefherz opened #1374 "Display overlay if images are clicked"
In blogposts, if you click on an image, by default nothing happens. It would be nice if an overlay would appear, where you can see e.g. a screenshot in all its details. A requirement would be that if you click next to the image afterwards, or click the "back"-button on Android phones, it would disappear again, so the user sees all of the blogpost again.

This is a standard in many wordpress blogs,

[2018-03-29 08:53] hurradieweltgehtunter commented on #1373
I'm afraid that this works correctly and 0 is the correct number. We just had a few changes in the security team and the security advisories are not updated atm.
@settermjd is our security guy. I need to talk to him. Thanks for rising this topic

[2018-03-29 08:58] hurradieweltgehtunter commented on #1364
done

[2018-03-29 08:58] #1364 closed

[2018-03-29 11:58] bfallik commented on #1373
@hurradieweltgehtunter thanks. You're response is helpful nonetheless since it doesn't give me a false sense of security based on the RSS feed.

[2018-03-29 12:54] fgeek opened #1375 "Security advisories are broken"
Previously security advisories could be found from e.g.:

https://owncloud.org/about/security/advisories/oC-SA-2013-018/
https://owncloud.org/security/advisory/?id=oc-sa-2017-004

All old advisory URLs are now broken and latest advisories are in format https://owncloud.org/security/advisories/xss-in-error-page-2/ without any advisory ID.

Why is this? I don't see any good reason for this change if

[2018-04-05 07:45] settermjd commented on #1373
Thanks for the issue @bfallik. The feed will be addressed latest of mid next week.

[2018-04-19 13:11] felixboehm opened #1376 "Community site formatting"
![oc org-community](https://user-images.githubusercontent.com/1204907/38993446-f219f984-43e3-11e8-9f88-8f6b26674ced.png)

[2018-05-03 11:50] davitol commented on #1072
404. I guess we do not want to keep this section, so let's close this ticket

[2018-05-03 11:50] #1072 closed

[2018-06-18 12:48] mdisrail2468 opened #1377 "Subscription feature is not working"
Hello Team,

The Subscription feature for OwnCloud newsletter is not working. The subscription form is missing there and it's disclosing the whole path of that on the error page as /wp-admin/admin post.php?action=mailpoet_subscription_form.

[2018-06-19 12:12] hurradieweltgehtunter commented on #1377
Hi @mdisrail2468
thanks for the issue. On which page did you encounter this misbehavior?
We don't use mailpoet anymore, thats odd that this url pops up. Could you provide some more details?
Thanks in advance

[2018-06-19 12:27] mdisrail2468 commented on #1377
Hello @hurradieweltgehtunter

Thanks for the quick response.

Here the link of that page: https://owncloud.org/news/when-efforts-pay-off-owncloud-is-nominated-again-for-the-it-storage-insider-award/

And the error page: https://owncloud.org/wp-admin/admin-post.php?action=mailpoet_subscription_form

Please find the attached screenshot as a POC.

Regards & Thanks
Mohammed Israil
![owncloud_newslette

[2018-06-19 13:45] hurradieweltgehtunter commented on #1377
Oh jeez. Thank you very much! I'll fix this asap.
In the meantime, you could use owncloud.org/newsletter to subscribe

[2018-06-19 14:03] mdisrail2468 commented on #1377
Great!

[2018-06-19 16:10] hurradieweltgehtunter commented on #1377
Alright, there were several errors occuring which are fixed now.
Thank you again for your notice! This was very helpful. Are you interested in some merchandise as reward? Send me an email: florian@owncloud.com

[2018-06-19 16:10] #1377 closed

[2018-06-19 16:24] mdisrail2468 commented on #1377
Hello @hurradieweltgehtunter

Thanks for the quick response. It's really a quick fix. Great!
I can confirm the fix from my side as well.

Additionally, I know this is not the right way to ask but can I get some monetary reward instead of the Swag from your side for my efforts and work? Just asking because one of the all-time Legend (Stevie Wonder) said that "If you don't ask, you don't get".

Rega

[2018-06-19 17:15] mdisrail2468 opened #1378 "Broken Link"
Hello Team,

The login feature to leave a Reply at https://owncloud.org/news/when-efforts-pay-off-owncloud-is-nominated-again-for-the-it-storage-insider-award/ is broken. I have tried that with Facebook and if the user is not logined then it prompts the login page but if the user is already logined then it always throws an error (Please find the attached image).

Regards & Thanks,
Mohammed Israil

[2018-06-19 19:34] mdisrail2468 opened #1379 "Missing SPF Records"
Hello Team,

There is no TXT record in DNS zone that defines Sender Policy Framework entry for domain http://owncloud.org/. This makes it easy to spoof your e-mail address. I don't know if you relays on third party sites for authenticity but its always a good option to add the records for the main domain.

I just checked for SPF records for the http://owncloud.org/ domain, and there are none. You

[2018-06-20 06:46] DeepDiver1975 commented on #1379
This is a know issue and we are working on this. Please use https://hackerone.com/owncloud for reports like this. THX

[2018-06-20 06:46] #1379 closed

[2018-06-20 07:55] hurradieweltgehtunter commented on #1377
Hi Mohammed,
we offer monetary rewards only for security bugs reported on https://hackerone.com/owncloud.

Regards

[2018-06-20 08:00] mdisrail2468 commented on #1377
Hello,

Aah, I see. Actually, most of the time the international packathelost during the shipment process and never reach the destination. That's why I asked if anything can be done. Anyways, Please let me know the details you want me to send to you.

Regards &Thanks,
Mohammed Israil

[2018-06-23 14:40] mdisrail2468 commented on #1377
Hello @hurradieweltgehtunter

I hope you'll not forget about this.

Best,
Mohammed Israil

[2018-06-29 19:37] mdisrail2468 commented on #1378
Hello,

Anyone there?

[2018-07-06 23:13] fgeek commented on #1375
Ping?

[2018-07-15 12:44] hurradieweltgehtunter commented on #1378
Sorry for the late answer. Thank you for notifying us about this. I'll have a look

[2018-07-16 12:56] hurradieweltgehtunter commented on #1376
Thanks for reporting. Fixed now.

[2018-07-16 12:56] #1376 closed

[2018-07-16 12:57] hurradieweltgehtunter commented on #1375
Thank you for reporting this and sorry for the late response. I'll have a look

[2018-07-16 13:29] #1349 closed

[2018-08-22 15:17] hurradieweltgehtunter commented on #1378
Comments have been fixed.

[2018-08-22 15:17] #1378 closed

[2018-08-22 15:18] hurradieweltgehtunter commented on #1375
@settermjd have you had a chance to look into the security advisories?

[2018-08-22 15:19] hurradieweltgehtunter commented on #1373
@settermjd had you had a chance to look into it?

[2018-08-22 16:30] mdisrail2468 commented on #1378
Great! I can confirm the fix. Kudos to you.
Btw, any reward for my effort and work?

Thanks & Regards,
Mohammed Israil

[2018-09-14 09:43] fgeek commented on #1375
Ping?

[2018-09-18 12:09] hurradieweltgehtunter commented on #1378
If I remember correctly a merch package is on its way to you.
Thanks for your input!

[2018-10-26 06:50] davitol opened #1380 "owncloud 9.1 tarball is not available in download older versions in the web."
https://owncloud.org/download/older-versions/  latest version shown is 9.0

[2018-10-26 07:04] PVince81 commented on #1380
@hurradieweltgehtunter

[2018-10-26 11:39] hurradieweltgehtunter commented on #1380
Who can give me the links? I'll update.
Also we need to add updating this page in the server deployment process.

[2018-10-26 14:15] PVince81 commented on #1380
here you go: https://download.owncloud.org/community/owncloud-9.1.8.tar.bz2

[2018-10-26 14:15] PVince81 commented on #1380
and linux packages: https://download.owncloud.org/download/repositories/9.1/owncloud/

[2018-10-29 09:15] hurradieweltgehtunter commented on #1380
Updated.
Will you add updating this page in the core release process?

[2018-10-29 09:15] #1380 closed

[2018-11-17 08:45] SecTec opened #1381 "ownCloud public PGP key expired"
Hi,

your "ownCloud public PGP key" on your download page has expired.
[ownCloud public PGP key](https://download.owncloud.org/owncloud.asc)

`curl https://download.owncloud.org/owncloud.asc | gpg --import

gpg -k F6978A26
pub   rsa4096 2013-10-14 [SC] [expired: 2018-09-30]
      E3036906AD9F30807351FAC32D5D5E97F6978A26
uid        [ expired ] ownCloud <info@owncloud.com>`

[2018-11-19 13:30] mrlinux1 commented on #1381
This is the key used to sign e.g. the tarballs. It is used on the sign.int.owncloud.com.

I found it at /root/pubkey4.asc.

This key should be renewed by deepdiver or pvince81 on sign.int.owncloud.com.

[2018-11-19 15:06] jnweiger commented on #1381
Thanks @SecTec for the reminder!
Pushing an extended key to the download mirrors.

[2018-11-19 17:18] jnweiger commented on #1381
Done. owncloud.asc is valid for another year.

[2018-11-19 17:18] #1381 closed

[2019-02-18 16:09] hurradieweltgehtunter opened #1382 "update composer to new repo location"
Marketo client has moved to https://github.com/owncloud/marketo-client
Composer needs to be updated accordingly.

[2019-03-16 21:51] Phyremaster opened #1383 "Download links are broken or wrong"
I may have missed a few, but it appears that all download links on https://owncloud.org/download/ result in a 404: not found error (for example: https://attic.owncloud.com/com/desktop/stable/ownCloud-2.5.3.11470.11300.msi shows a page claiming that the web server can't find the file). Either the links are wrong, the download server is broken, or something else. I think this may be causing other pr

[2019-03-18 09:56] hurradieweltgehtunter commented on #1383
Thank you for noticing. I'll have a look immediately.

[2019-03-18 10:31] guruz commented on #1383
this one
:/

[2019-03-18 13:45] guruz commented on #1383
@Phyremaster You can download macOS .pkg and Windows .msi now also at the bottom of https://github.com/owncloud/client/releases/tag/v2.5.3

[2019-03-24 12:02] jnweiger commented on #1383
All official links at owncloud.org and owncloud.com were fixed last week already.
A new release 2.5.4 is out.

[2019-03-24 12:02] #1383 closed

[2019-04-03 09:01] lefherz opened #1384 "remove the google captcha at the login"
Hi,

I suggest to remove the google captcha at the login page. I have several reasons:

1. It is annoying to fill out every time, and interrupts my workflow.
2. It requires me to unblock google's proprietary javascript to continue working.
3. It is only useful against automated bruteforcing and crawlers who try out usual passphrases. This threat model can far easier be mitigated through a fail2ban

[2019-04-03 10:04] hurradieweltgehtunter commented on #1384
you mean this:
![image](https://user-images.githubusercontent.com/16665512/55470760-86a1f980-5608-11e9-80e7-14f6648becd2.png)

It's just one click and yes, it's google but it provides an additional step of security. So if there is "only" the "annoying" reason, I'd rather keep this.

[2019-04-03 10:23] lefherz commented on #1384
No, there is also reason 2 and 3: it requires proprietary google javascript (the company known for the most extensive surveillance apparatus of the world, which deploys their spyware everywhere), and it is the less effective security measure.

The google captcha has been proven to be breakable: https://github.com/ecthros/uncaptcha

Something like fail2ban is a way better measure to prevent automat

[2019-04-10 11:35] cortho opened #1385 "Download links for Linux Clients are broken"
When I click _Install Instructions_ in order to download a Linux client on https://owncloud.org/download/, I am navigated to https://software.opensuse.org/download/package?project=isv:ownCloud:desktop&package=owncloud-client

There, when I choose the option _Grab binary packages directly_  I receive 404 errors for any distribution other than openSUSE.

I am aware, that the packages are not hosted

[2019-04-10 13:37] hurradieweltgehtunter commented on #1385
Thanks for your notice. (Un-)fortunately I can't reproduce your error. I was able to download every version of the client for every listed OS.

[2019-04-10 15:15] cortho commented on #1385
Sorry for reopening, definitively does not work:

![Selection_716](https://user-images.githubusercontent.com/28009362/55891072-34d31380-5bb4-11e9-801f-fbe07e357132.png)

![Selection_717](https://user-images.githubusercontent.com/28009362/55891088-3b618b00-5bb4-11e9-97b5-ba730e05b9fa.png)

$ curl "https://download.opensuse.org/repositories/isv:/ownCloud:/desktop/Debian_9.0/amd64/owncloud-client_2.5

[2019-04-11 09:13] hurradieweltgehtunter commented on #1385
We checked on different computers now and everybody is able to download the files.
Also please note that those are SUSE download mirrors so we can't control what's going on there. We try to contact them. Feel free to contact them too.

[2019-04-11 09:13] #1385 closed

[2019-04-17 15:11] cortho opened #1386 "App development guide link broken"
On https://owncloud.org/help/ the link to the app development guide https://doc.owncloud.org/server/latest/developer_manual/app/ leads to a 404.

Looks like in docs an index document (like at https://doc.owncloud.org/server/10.1/developer_manual/core/ ) is missing.

Alternatively, the link on the help page could be changed to https://doc.owncloud.org/server/10.1/developer_manual/app/introduction.h

[2019-04-18 08:46] hurradieweltgehtunter commented on #1386
Thank you for reporting. Fixed it.

[2019-04-18 08:46] #1386 closed

[2019-06-11 14:29] cortho opened #1390 "ownCloud 10.1 is missing at the older versions page"
https://owncloud.org/download/older-versions/ - there is 10.0 but no 10.1

[2019-06-13 09:05] hurradieweltgehtunter commented on #1390
Thanks for the notice. I updated the page and added the other versions.

[2019-06-13 09:05] #1390 closed

[2019-07-09 13:16] j-ed opened #1391 "RSS feed - access denied by Shield plugin"
Today I realized that I cannot access the RSS feed anymore. Instead the following WordPress error message is shown.

![grafik](https://user-images.githubusercontent.com/2572764/60890690-1d133600-a25c-11e9-8638-e1a8f9136de2.png)

The displayed IP address is related to a server in China and has definitely nothing to do with my access:

![grafik](https://user-images.githubusercontent.com/2572764/6089

[2019-07-12 07:53] hurradieweltgehtunter commented on #1391
Thanks for the notice. I'll check this

[2019-07-12 12:43] j-ed commented on #1391
Today it is working again. The given IP address was definitely not mine, that was the reason why I thought it must be a server side problem.

[2019-07-16 10:02] #1391 closed

[2019-11-11 07:46] j-ed opened #1394 "RSS feed - access denied by Shield plugin"
At the weekend I realized that I cannot access the RSS feed anymore. Instead the following WordPress error message is shown.

![grafik](https://user-images.githubusercontent.com/2572764/68569569-b34fa680-045e-11ea-9ae6-8af358f4cfad.png)

The displayed IP address is related to a server in Egypt/Africa and has definitely nothing to do with my Internet access in Germany (**My IP address: 84.176.xxx.y

[2019-11-11 10:18] hurradieweltgehtunter commented on #1394
Thanks for the hint. I'll have a look.

[2019-11-11 11:38] j-ed commented on #1394
@hurradieweltgehtunter Yes, I waited several days and hoped that a kind of self-healing would take place, but the error is still shown. It is absolutely weird that the block message is referencing to an ip address which is definitely not mine?!
Additionally I'm missing a way to remove the own ip address from that block list. From what I've found on the Internet, I know that such a function exists

[2019-11-11 12:09] hurradieweltgehtunter commented on #1394
This is indeed a strange behaviour. I'll keep investigating

[2019-11-11 12:17] hurradieweltgehtunter commented on #1394
This could be a simple server-side caching problem. Please have a look again.

[2019-11-11 12:56] j-ed commented on #1394
@hurradieweltgehtunter Thank you, whatever you did, solved the problem It is working again without any error being displayed.

[2019-11-11 13:00] hurradieweltgehtunter commented on #1394
Great to hear :) Thanks again for the notice!

[2019-11-11 13:00] #1394 closed

[2020-02-19 23:38] apicht opened #1396 "ownCloud PGP key expired"
owncloud.asc has expired:

[code]

[2020-07-17 11:14] cortho opened #1398 "announcement mailing list is gone?"
On https://owncloud.org/release-channels/ under Security note there is a link to the announcement mailing list https://mailman.owncloud.org/mailman/listinfo/announcements which leads to a 404

Does the mailing list still exist?
If yes, please fix the link
If not, please provide the new channel, where those announcements can be found

[2020-09-28 10:18] cortho opened #1399 "Older ownCloud Packages not available for download"
When clicking "Earlier version" at https://owncloud.com/download-server/ I'm redirected to https://owncloud.com/older-versions/#server where only ownCloud X versions are provided.

So it becomes impossible for users to upgrade from e.g. ownCloud 8.0.0 since the required packages are not available. (see upgrade paths at https://doc.owncloud.com/server/admin_manual/maintenance/upgrade.html)

Please

[2020-09-28 10:24] cortho opened #1400 "upgrading-across-skipped-releases does not provide packages"
On https://doc.owncloud.com/server/admin_manual/maintenance/package_upgrade.html#upgrading-across-skipped-releases the last line reads

which currently links to changelog.

There are no repositories of previous ownCloud major releases

[2020-12-22 23:35] Tauwasser commented on #1396
Still expired in December :(

[2020-12-23 11:36] hurradieweltgehtunter commented on #1396
@DeepDiver1975 could you help?

[2020-12-23 11:39] #845 closed

[2020-12-23 11:39] #1106 closed

[2020-12-23 11:39] #1348 closed

[2020-12-23 11:39] #1352 closed

[2020-12-23 11:39] #1362 closed

[2020-12-23 11:39] #1365 closed

[2020-12-23 11:39] #1367 closed

[2020-12-23 11:39] #1370 closed

[2020-12-23 11:39] #1373 closed

[2020-12-23 11:39] #1374 closed

[2020-12-23 11:39] #1375 closed

[2020-12-23 11:39] #1382 closed

[2020-12-23 11:39] #1384 closed

[2020-12-23 11:39] #1398 closed, assigned to nobody

[2020-12-23 15:38] jnweiger commented on #1396
The current key is available from `gpg --recv-keys --keyserver hkp://keys.gnupg.net 2D5D5E97F6978A26`
@hurradieweltgehtunter can you put it on the webservers?

[2020-12-23 16:24] hurradieweltgehtunter commented on #1396
Thank you @jnweiger
I will forward it to our website team.

@Tauwasser Could you confirm that you got what you were looking for?

[2020-12-24 01:12] jnweiger commented on #1396
Key update is on the mirrors, the URL is now in the expiry checker.

[2020-12-25 12:21] hurradieweltgehtunter commented on #1396
Thank you. Closing the issue now.

[2020-12-25 12:21] #1396 closed

[2020-12-26 09:25] fgeek commented on #1375
@hurradieweltgehtunter Why was this closed? The problem still exists.

[2021-01-04 16:10] hurradieweltgehtunter commented on #1375
Since we merged our .org and .com websites this repo is obsolete.
Please have a look at https://owncloud.com/security/ for security relevant information.

[2021-01-13 14:55] cortho commented on #1399
Why is this closed without any comment? The issue still persists.
How does ownCloud suggest to upgrade from 9.0.8 or even 8.2.10 ?

[2021-01-13 14:56] cortho commented on #1400
Issue still not solved

[2021-01-14 16:53] hurradieweltgehtunter commented on #1400
Conituned in https://github.com/owncloud/docs/issues/3035
Since oc.org does not exist anymore this repo will be archived.

[2021-01-14 16:53] #1400 closed, assigned to nobody

[2021-01-21 10:45] michaelstingl commented on #1399
Older versions added:
https://owncloud.com/older-versions/

[2021-01-21 10:45] #1399 closed, assigned to nobody